<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServiceFile" value="D:\Data\ServiceHandler\Services.XML"/>
    <add key="LogFilepath" value="D:\Data\ServiceHandler\"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>